body {
    font-family: Arial;
    margin: 20px;
}

h2, h3 {
    margin-bottom: 5px;
}

button {
    padding: 8px 14px;
    background-color: #28a745; /* hijau */
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
}

button:hover {
    background-color: #1f7c35;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #777;
    padding: 8px;
}

table th {
    background-color: #cce7ff; /* biru awan */
}
